body
{
  background-color: #FFF;
  margin: 0px;
}

.top_bar
{
    background-color: #4CAF50;
    width:100%;
    height:8%;
}

.top_bar_button
{
  height: 100%;
  width: 8%;
  float:left;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  line-height: 300%;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  cursor: default;
  user-select: none;

}

.top_bar topref:hover {
    background: #373;
    color: white;

}

.top_bar_divider
{
    float:left;
    background-color: white;
    width: 10%;
    height: 100%;
}

#main_content_container
{
    background-color: teal;
    width: 100%;
    height: 200%;
}

#main_content_top_border
{
    width: 100%;
    height: 10%;
    background-color: white;
}

#label_main_container
{
    padding-top: 2%;
    height: 25%;
    float:left;
    margin-left: 10%;
}

#label_output
{
    float:left;
    font-size: 30px;
    padding-top: 10px;
}

#label_input
{
  float:left;
  font-size: 30px;
}


/* green === 008000 */

#main_content
{
    background-color: white;
    height: 100%;
    width: 80%;
    float: left;
}

#introduction_area
{
  width: 100%;
  height: 50%; /* 33 */
}

#logo_padding
{
  width: 100%;
  height: 12.5%;

}

#logo
{
  margin-left: 20%;
  width: 60%;
  height: 60%;
  background-color: #4CAF50; /* Green */
}

#intro_button
{
  float:right;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-right: 45%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin-top: 3%;
}

#intro_button:hover {
    background: #373;
    color: white;
}

#start_button:hover {
    background: #373;
    color: white;
}


.padding
{
  height: 5%;
  width: 100%;
}

#input_area
{
  width: 100%;
  height: 50%; /* 33 */
}


#result_area
{
  width: 100%;
  height: 0%; /* 30 % */
}
#result_area_top
{
  width: 100%;
  height: 5%;
}
#result_area_bottom
{
  width: 100%;
  height: 90%;
}

/*box-shadow: -5px 0px green;*/

#schema_text
{
    background-color: #100000;
    color: white;
    float:left;
    width: 100%;
    height: 75%;
    resize: none;
}

#schema_url
{
  background-color: #100000;
  color: white;
  float:left;
  margin-top: 5%;
  width: 50%;
  height: 20px;
  resize: none;
}

#start_button
{
  float:right;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin-top: 3%;
}

#enumerate_all_label
{
  padding-left: 25%;
  font-size: 25px;
}

#enumerate_all
{
  height: 25px;
  width: 25px;
  margin-top: 2%;
  background-color: #eee;
}

#cy
{
  float:left;
  width: 50%;
  height: 90%;
  background-color: #4CAF50; /* Green */
}

#enumerated_cycles
{
    background-color: #100000;
    color: white;
    float:left;
    width: 50%;
    height: 90%;
    resize: none;
}

#run_settings
{
  float:left;
  width: 30%;
  height: 10%;
  padding-top: 4.25%;
}

.banner
{
    background-color: white;
    float:left;
    height: 100%;
    width: 10%;
}


/*
  <div id="active"> </div>

  <div id="top_bar"> </div>

  <div id="left_banner"> </div>

  <div id="main_content"> </div>

  <div id="right_banner"> </div>
*/
