[submodule "graphql-schema-cycles"]
	path = graphql-schema-cycles
	url = https://github.com/LiUGraphQL/graphql-schema-cycles.git
	branch = web
[submodule "graphql-to-json-converter"]
	path = graphql-to-json-converter
	url = https://github.com/LiUGraphQL/graphql-to-json-converter.git
	branch = web
[submodule "cytoscape.js"]
	path = cytoscape.js
	url = https://github.com/LiUGraphQL/cytoscape.js.git
	branch = unstable
